.loading, .loaded {
    margin-top: 100px;
    text-align: center;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .loading, .loaded {
      margin-top: 50px;
    }
}

.loading {
    animation: App-logo-spin infinite 5s linear;
    height: 80px;
}

@keyframes
App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loaded {
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes pulse {
    0% {
        background-color: #fff5f5;
        color: #000;
    }
    100% {
        background-color: #8ac3ff;
        color: #eee;
    }
}

.stretcher {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
        background-color: red;
        border-radius: 100%;
    }
    50% {
        background-color: orange;
    }
    100% {
        transform: scale(1.5);
        background-color: yellow;
    }
}



@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position: 1rem 0
    }
    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    0% {
        background-position: 1rem 0
    }
    to {
        background-position: 0 0
    }
}
